#challenge-container {
  padding-top: 7ex;
}

div.modal-header {
  font-size: x-large;
}

div#info-modal li span,
div#info-modal p span {
  display: block;
  font-size: medium;
  font-weight: bold;
}

#challenge-container td.index {
  font-family: monospace;
  font-size: large;
  text-align: center;
}

#challenge-container tbody > tr.selected {
  background: white;
  font-size: larger;
  font-weight: bold;
}

#challenge-container td.challenge span.extra,
div#roll-modal div.modal-body span.extra {
  display: block;
  font-size: smaller;
}

div#roll-modal div.modal-body p.challenge {
  font-size: x-large;
}

div#roll-modal div.modal-body p.info a.details {
  display: block;
  text-align: right;
}

div#info-modal div.modal-body p.byline {
  font-size: small;
  font-style: italic;
  text-align: right;
}

div#info-modal div.modal-body p.byline span#dpt-version {
  font-size: small;
  font-weight: normal;
  display: inline;
}

@media (max-width: 768px) {
  #challenge-container {
    padding-top: 8ex;
  }
}

@media (max-width: 480px) {
}